.certificationcourse{
	position: relative;
	z-index: 2;
	background: #3c3c3c;
.container{
	position: relative;
	color: #fff;
	max-width: 70.7rem;
	padding:8.8rem 3rem 10rem 3rem;
	margin-bottom: 7%;
	font-size: 1.6rem;
	text-align: center;
h2{
	font: 4.6rem $font-title;
}
.course-item{
	padding: 2rem 4.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-shadow: 0 1px 0 0 #7b7b7b;
	        box-shadow: 0 1px 0 0 #7b7b7b;
.course-items{
	min-width: 14.9rem;
	width: 14.9rem;
	height: 14.9rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	border-radius: 50%;
	border: 0.4rem solid #7b7b7b;
	margin: 0 2rem;
div{
	text-transform: uppercase;
	line-height: 3.3rem;
	-webkit-box-shadow: 0 1px 0 0 #7b7b7b;
	        box-shadow: 0 1px 0 0 #7b7b7b;
	width: 76%;
	padding: 0.5rem 0;
span{
	display: block;
	font-size: 3.6rem;
}
}
p{
	max-width: 7.2rem;
	line-height: 2rem;
	margin-top: 1rem;
}
}
}
}
.fee{
	padding-top: 3.5rem;
span{
	display: block;
	padding-bottom: 2.5rem;
}
h3{
	margin-bottom: 1rem;
	font-size: 3.6rem;
	font-weight: normal;
}
}
}

@media screen and (max-width: 768px){
.certificationcourse
.container{
	padding: 4rem 1.5rem 10rem;
.course-item{
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
.course-items{
	margin: 2rem;
}
}
}
}
@media screen and (max-width: 576px){
.certificationcourse
.container{
h2{
	font-size: 4rem;
}
}	
}