.top-header{
.container{
	padding: 1.5rem 2.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font: 2rem/3rem $font-text3;
.color-text{
	color: #808080;
	font-family: $font-bold;
}
.color-iphone{
	color: #e0824b;
	font-weight: 700;
}
p:nth-of-type(1){
	color: #313131;
}
p:last-child{
	font-family: $font-bold;
}
}
}
.header-right{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
 .header-info{
 	text-align: end;
 }
.languages{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 26.9rem;
	width: 100%;
	height: 4.3rem;
	border-radius: 2.2rem;
	border: 0.1rem solid #afafaf;
	background: #fff;
	margin-bottom: 2rem;
ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
a{	
	display: block;
	width: 13.1rem;
	font: 1.6rem $font-text;
	color: #808080;
	text-align: center;
	padding: 0.9rem 0;
}
.active-button{
	border-radius: 1.9rem;
	background: #e0824b;
	color: #fff;
}
}
}
}