.isobody{
.container{
	position: relative;
	padding: 17rem 14rem 10rem;
	margin-bottom: 7%;
	text-align: center;
h2{
	font-size: 4.6rem;
	font-weight: normal;
	margin-bottom: 13.6rem;
}
.isobody-description{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
p{
	font-size: 1.6rem;
	line-height: 2.8rem;
	max-width: 60.8rem;
	font-weight: 600;
	text-align: left;
}
img{
	min-width: 359px;
	width: 359px;
	max-height: 273px;
	height: auto;
	margin: 0 7.4rem;
}
}
}
}
@media screen and (max-width: 1180px){
.isobody .container{
	padding: 17rem 5rem 10rem;
}
}
@media screen and (max-width: 992px){
.isobody .container{
	padding: 17rem 3rem 10rem;
h2{
	font-size: 4rem;
	margin-bottom: 4rem;
}
.isobody-description{
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
img{
	margin: 0 0 4rem;
	min-width: auto;
	max-width: 359px;
	width: 100%;
}
}
}
}
@media screen and (max-width: 576px){
.isobody .container .isobody-description img{
	max-width: 215px;
	height: 163px;	
}
}