.whychooseus{
	background: url(../img/whychooseus.jpg) no-repeat;
	background-size: cover;
.container{
	color: #fff;
	padding: 28rem 10rem;
h2{
	font: 4.6rem $font-title;
	margin-bottom: 3.5rem;
}
p{
	font-size: 1.6rem;
	line-height: 2.8rem;
	margin-bottom: 5rem;
	max-width: 435px;
	width: 100%;
}
}
}
@media screen and (max-width: 992px){
.whychooseus .container{
	padding: 4rem 3rem;
	text-align: center;
p{
	max-width: 100%;
	text-align: left;
}
}
}
@media screen and (max-width: 690px){
.whychooseus .container{
	padding: 4rem 1.5rem;
}
}